{% extends 'base.html' %}
{% block content %}
<div class="main">
    <center>
        {% if today %}
            <big><progress id="steps" value="{{ percent }}" max="100"> {{ percent }}% </progress></big>
            <br><br>

            {% if error %}
                <font size="5">{{ error }}</font>
            {% else %}
                <font size="22">The number of steps you've taken so far today is <big>{{ steps }}</big>.</font>
                <br><br>
                <font size="11">You're {{ percent_str }}% of the way to {{ goal }}! Woohoo!</font>
            {% endif %}
        {% else %}
            <font size="6">fitnick is scaffolded as a thin Render-hosted health integration service.</font>
            <br><br>
            <font size="4">Current mode: <big>{{ service_mode }}</big></font>
            <br><br>
            <font size="4">Provider: <big>{{ provider }}</big></font>
            <br><br>
            <font size="4">Use <a href="/health/smoke">/health/smoke</a> to verify live API access and <a href="/healthz">/healthz</a> for a deploy health check.</font>
        {% endif %}
    </center>
</div>
{% endblock %}
