<html>
{% extends "layout.html" %}
{% block content %}

    <form method="POST" action="/get_activity_today">

        <center>
                            <h4> {{ value }} </h4>
            <br>
            <br>
            <br>
        <center>

        Month:
        <select name=month_options method="POST" action="/">
            {% for month in month_options %}
            <option value= "{{ month }}" SELECTED>{{ month }}</option>"
            {% endfor %}
        </select>

        Day:
        <select name=day_options method="POST" action="/">
            {% for day in day_options %}
            <option value= "{{ day }}" SELECTED>{{ day }}</option>"
            {% endfor %}
        </select>

        Year:
        <select name=year_options method="POST" action="/">
            {% for year in year_options %}
            <option value= "{{ year }}" SELECTED>{{ year }}</option>"
            {% endfor %}
        </select>

        </center>

            <center>
                <br>
                <input type="submit" value="Go">
            </center>
        <br>

            	<section id="pageContent">

             <table>
                 <tr> <th>Date</th> <th>Total</th> <th>Calories BMR</th> <th>Activity Calories</th></tr>
                <tr class="even"> <td>{{ row.date }}</td> <td>{{ row.total }}</td> <td>{{ row.calories_bmr }}</td> <td>{{ row.activity_calories }}</td></tr>
             </table>
                </section>

        </center>
</form>

{% endblock %}
    </body>
</html>
