<html>
{% extends "layout.html" %}
{% block content %}

	<section id="pageContent">

    <form method="POST" action="/get_heart_rate_zone_today">
        <center>

        Month:
        <select name=month_options method="POST" action="/">
            {% for month in month_options %}
            <option value= "{{ month }}" SELECTED>{{ month }}</option>"
            {% endfor %}
        </select>

        Day:
        <select name=day_options method="POST" action="/">
            {% for day in day_options %}
            <option value= "{{ day }}" SELECTED>{{ day }}</option>"
            {% endfor %}
        </select>

        Year:
        <select name=year_options method="POST" action="/">
            {% for year in year_options %}
            <option value= "{{ year }}" SELECTED>{{ year }}</option>"
            {% endfor %}
        </select>

        </center>

            <center>
                <br>
                <input type="submit" value="Go">
            </center>

    </form>

        <br><br><br>

    <form method="post" action="/get_heart_rate_zone_today">
            <center>
            <h4> {{ value }} </h4>
            </center>

        <br> <br>

         <table>
             <tr>
                 <th>Heart Rate Zone</th> <th>Minutes</th> <th>Calories</th> <th>Date</th
             </tr>

            {% for row in rows %}
            <tr class="even"> <td>{{ row.type }}</td> <td>{{ row.minutes }}</td> <td>{{ row.calories }}</td> <td>{{ row.date }}</td></tr>
            {% endfor %}

         </table>
    </form>

    </section>
{% endblock %}
    </body>
</html>
